# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.cm[ixo]
*.annot
_log
_build
*.native
*.byte
*.d.native
*.p.byte
*.sexp
le/
lib/
prepared
sks
sks.8.gz
sks_add_mail
*.sexp2
cryptokit-1.0/
ocextr
.depend
*.mar
*.plot
*.png
results-*
*.out
*.opt
*.dot
*.html
*.graph
*.orig
*.cfinder
*.log
*.aux
*.bbl
*.blg
*.idx
*.toc
