# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.cm[ixo]
*.annot
_log
_build
*.native
*.byte
*.d.native
*.p.byte
*.sexp
le/
lib/
prepared
sks
sks.8.gz
sks_add_mail
*.sexp2
cryptokit-1.0/
ocextr
.depend
*.mar
*.plot
*.png
results-*
*.out
*.opt
*.dot
*.html
*.graph
*.orig
*.aux
*.bbl
*.blg
*.idx
*.toc
*.igraph
*.igraph_index
*.cyto
.omakedb*
*.
*.omc
.DS_Store
.RData
.Rhistory
.analyze/basic_properties
.analyze/basic_properties_mpi
.analyze/betweeness_ser
.analyze/clustering_coefficient_ser
.analyze/complete_graph*


